html {
   height: 100%;
}

body {
   min-height: 100%;
   position: relative;
}

canvas {
   position: absolute;
   min-height: 100%;
}

.print-only {
   display: none;
}

@page { size: auto; margin-top: 0mm; margin-bottom: 0mm; }

@media print {
   .print-style,
   .print-style * {
      padding: 0px !important;
      margin: 5px 0px !important;
      color: black !important;
   }
   .no-print,
   .no-print * {
      display: none !important;
   }
   .print-only,
   .print-only * {
      display: block !important;
   }
   .print-inline,
   .print-inline * {
      display: inline !important;
   }
   .sections {
      display: flex;
      flex-direction: column-reverse;
   }
   .experiences {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
   }
}